#define RDM_CLA_1212
    {RDM_DEFAULTS_2V2}
    {RDM_SIDE 1 rdmSide1 team1 "Team 1" 8}
    {RDM_SIDE 2 rdmSide2 team2 "Team 2" 8}
    {RDM_SIDE 3 rdmSide3 team1 "Team 1" 8}
    {RDM_SIDE 4 rdmSide4 team2 "Team 2" 8}
    {RDM_2V2_MAP_SETTINGS_CLA rdmCla1212}
#enddef

#define RDM_CLA_2121
    {RDM_DEFAULTS_2V2}
    {RDM_SIDE 1 rdmSide2 team1 "Team 1" 8}
    {RDM_SIDE 2 rdmSide1 team2 "Team 2" 8}
    {RDM_SIDE 3 rdmSide4 team1 "Team 1" 8}
    {RDM_SIDE 4 rdmSide3 team2 "Team 2" 8}
    {RDM_2V2_MAP_SETTINGS_CLA rdmCla2121}
#enddef

#define RDM_2V2_MAP_SETTINGS_CLA ID
    id={ID}
    name= _ "4p - Clash"
    map_data="{multiplayer/maps/4p_Clash.map}"
    description= _ "Small map for 2 vs. 2." + _ " Recommended setting of 2 gold per village."
#enddef
