#define RDM_HAM_1221
    {RDM_DEFAULTS_2V2}
    {RDM_SIDE 1 rdmSide1 team1 "Team 1" 8}
    {RDM_SIDE 2 rdmSide2 team2 "Team 2" 8}
    {RDM_SIDE 3 rdmSide3 team2 "Team 2" 8}
    {RDM_SIDE 4 rdmSide4 team1 "Team 1" 8}
    {RDM_2V2_MAP_SETTINGS_HAM rdmHam1221}
#enddef

#define RDM_HAM_2112
    {RDM_DEFAULTS_2V2}
    {RDM_SIDE 1 rdmSide2 team1 "Team 1" 8}
    {RDM_SIDE 2 rdmSide1 team2 "Team 2" 8}
    {RDM_SIDE 3 rdmSide4 team2 "Team 2" 8}
    {RDM_SIDE 4 rdmSide3 team1 "Team 1" 8}
    {RDM_2V2_MAP_SETTINGS_HAM rdmHam2112}
#enddef

#define RDM_2V2_MAP_SETTINGS_HAM ID
    id={ID}
    name= _ "4p - Hamlets"
    description= _ "Warfare transforms the simple farms and villages of a peaceful region into a subtly parceled battlefield." + _ " Recommended setting of 2 gold per village."
    map_data="{multiplayer/maps/4p_Hamlets.map}"
#enddef
