#define RDM_UW_1221
    {RDM_DEFAULTS_2V2}
    {RDM_SIDE 1 rdmSide1 team1 "Team 1" 8}
    {RDM_SIDE 2 rdmSide2 team2 "Team 2" 8}
    {RDM_SIDE 3 rdmSide3 team2 "Team 2" 8}
    {RDM_SIDE 4 rdmSide4 team1 "Team 1" 8}
    {RDM_2V2_MAP_SETTINGS_UW rdmUw1221}
#enddef

#define RDM_UW_2112
    {RDM_DEFAULTS_2V2}
    {RDM_SIDE 1 rdmSide2 team1 "Team 1" 8}
    {RDM_SIDE 2 rdmSide1 team2 "Team 2" 8}
    {RDM_SIDE 3 rdmSide4 team2 "Team 2" 8}
    {RDM_SIDE 4 rdmSide3 team1 "Team 1" 8}
    {RDM_2V2_MAP_SETTINGS_UW rdmUw2112}
#enddef

#define RDM_2V2_MAP_SETTINGS_UW ID
    id={ID}
    name= _ "4p - Underworld"
    description= _ "A fast-paced 2 vs. 2 map set deep below the surface." + _ " Recommended setting of 2 gold per village."
    map_data="{multiplayer/maps/4p_Underworld.map}"
#enddef
