#define RDM_XC_1221
    {RDM_DEFAULTS_2V2}
    {RDM_SIDE 1 rdmSide1 team1 "Team 1" 8}
    {RDM_SIDE 2 rdmSide2 team2 "Team 2" 8}
    {RDM_SIDE 3 rdmSide3 team2 "Team 2" 8}
    {RDM_SIDE 4 rdmSide4 team1 "Team 1" 8}
    {RDM_2V2_MAP_SETTINGS_XC rdmXc1221}
#enddef

#define RDM_XC_2112
    {RDM_DEFAULTS_2V2}
    {RDM_SIDE 1 rdmSide2 team1 "Team 1" 8}
    {RDM_SIDE 2 rdmSide1 team2 "Team 2" 8}
    {RDM_SIDE 3 rdmSide4 team2 "Team 2" 8}
    {RDM_SIDE 4 rdmSide3 team1 "Team 1" 8}
    {RDM_2V2_MAP_SETTINGS_XC rdmXc2112}
#enddef

#define RDM_2V2_MAP_SETTINGS_XC ID
    id={ID}
    name= _ "4p - Xanthe Chaos"
    map_data="{multiplayer/maps/4p_Xanthe_Chaos.map}"
    description= _ "A 24X28 2 vs. 2 map with auxiliary keeps, and a large messy battle in the center common."
#enddef

