#define CG_SIDE_FLAG_VILLAGES_TFL
   [+side]
        [village]
            x,y=26,22
        [/village]
    [/side]
#enddef

#define CG_1V1_MAP_SETTINGS_TFL ID
    id={ID}
    name= _ "2p - The Freelands"
    map_data="{multiplayer/maps/2p_The_Freelands.map}"
    description= _ "The Freelands, also known to the people of the far east as The Land of No Kings, lie in between the Wilderlands and the Kingdom of Carorath, separating a land of absolute law from a land of absolute savagery. The people of the Freelands have been battling would-be conquerors of their land for hundreds of years, repelling great beasts from their western borders, and Carorathian Imperialists from their eastern borders."
#enddef
