#define CG_SIDE_FLAG_VILLAGES_UMC_CL
    [+side]
        [village]
            #x,y=37,21
        [/village]
    [/side]
#enddef

#define CG_1V1_MAP_SETTINGS_UMC_CL ID
    id={ID}
    map_data="{~add-ons/CompetitiveGaming/maps/umc/2p_Crecent_Lake.map}"
    name= _ "2p - Crescent Lake - Created by Velensk"
    description= _ "No one knows how this strangely shaped lake nor the structure built on it came to exist in the northlands, but all know the wealth that can be achieved by its conquest."

    {PLACE_IMAGE scenery/rock1.png 7 11}
    {PLACE_IMAGE scenery/rock3.png 1 13}
    {PLACE_IMAGE scenery/monolith3.png 29 14}
    {PLACE_IMAGE scenery/monolith2.png 23 25}
    {PLACE_IMAGE scenery/monolith1.png 9 23}
    {PLACE_IMAGE scenery/monolith4.png 13 14}

    {CG_STAGING}
#enddef
