#define RDM_HGB_12
    {RDM_DEFAULTS_1V1}

    {CG_SIDE 1 rdmSide1 north North 8}
    {CG_SIDE 2 rdmSide2 south South 8}
    {CG_SIDE_FLAG_VILLAGES_HGB}

    {CG_1V1_MAP_SETTINGS_HGB rdmHgb12}
#enddef

#define RDM_HGB_21
    {RDM_DEFAULTS_1V1}

    {CG_SIDE 1 rdmSide2 north North 8}
    {CG_SIDE 2 rdmSide1 south South 8}
    {CG_SIDE_FLAG_VILLAGES_HGB}

    {CG_1V1_MAP_SETTINGS_HGB rdmHgb21}
#enddef


